<h1>Inside Index</h1>

<a href="demo/hello">Hello World Page</a><br/>

<%= link_to("Hello Page", {:action => 'hello'})   %>

<%= link_to("Hello With Params", {:action => 'hello', :page => '5', :id => '20'})   %>